html {
    background: #000;
    padding: 1rem;
    scroll-behavior: smooth;
}

body {
    font-family: Courier, 'Courier New', monospace;
    color: #cdf;
    background: #1e1e2e;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    max-width: fit-content;
}

.center,
.center p {
    text-align: center;
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
}

.center h2 {
    font-weight: normal;
    letter-spacing: 0.25rem;
}

header {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
    background: transparent;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

header a {
    font-size: 180%;
    letter-spacing: 0.18rem;
    color: #cdf;
    text-align: center;
    font-weight: 100;
    text-decoration: none;
    padding: 1rem;
}

header a:hover {
    outline: #FFF solid 1px;
}

header a:active {
    color: unset;
    outline: #cdf solid 1px;
}

nav {
    font-family: Helvetica, Arial, sans-serif;
    background: #363636;
    background: transparent;
    text-align: center;
    border-radius: 1rem;
    padding-left: 0.4rem;
    margin-top: 0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

nav a {
    display: inline-block;
    color: #ca5;
    border-radius: 1rem;
    text-decoration: none;
    padding: 0.3rem;
    padding-left: 0.2rem;
    padding-right: 0.3rem;
    margin: 0.1rem;
}

nav a:hover {
    color: #fff;
    background: #666;
    border-radius: 1rem;
    outline: solid #666;
}

nav a:active {
    background: unset;
}

/* 
    .title-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
*/

article {
    background: #181825;
    padding: 0.8rem;
    border-radius: 1rem;
    margin: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

hr {
    border: 1px solid #aab;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Helvetica, Arial, sans-serif;
}


h1,
h2 {
    color: #cc66cc;
    color: #eee;
    margin-left: 1rem;
    margin-right: 1rem;
}

h3 {
    color: #0c0;
    color: #eee;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

h4 {
    color: #090;
    color: #eee;
    margin-left: 2rem;
    margin-right: 1rem;
}

h5 {
    color: #eee;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

a {
    color: #66f;
}

a:hover,
ul li a:hover,
ol li a:hover {
    color: #fff;
}

p a:link,
li a:link {
    color: #66f;
}

a:active,
p a:active,
li a:active a:active,
ul li a:active,
ol li a:active {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin-left: 1.5rem;
    margin-right: 1rem;
    display: block;
    overflow-x: auto;
}

table th,
table td {
    padding: 0.3rem 0.8rem;
    border: 1px solid #ccc;
}

caption {
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1px;
    caption-side: top;
}

ul,
ol {
    line-height: 1.5rem;
    margin-left: 1.5rem;
}

code {
    font-size: 90%;
    display: inline;
    overflow-x: auto;
    color: #80ff80;
    font-family: Courier, 'Courier New', monospace;
}

p code {
    display: inline;
    padding: 0.2rem;
    border: 1px dashed #0eb7fa;
    border-radius: 0.5rem;
}

pre code {
    display: block;
    padding: 1rem;
    border: 1px dashed #0eb7fa;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

blockquote {
    color: #f18a65;
    font-style: italic;
    box-sizing: border-box;
    padding-left: 1.7rem;
    border-left: 0.25rem solid orange;
    margin-left: 0;
    margin-bottom: 1.7rem;
}

figure {
    border: 3px solid #334;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    border-radius: 9px;
    text-align: center;
}

figure img {
    display: block;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: fit-content;
    width: fit-content;
    user-select: none;
}

time {
    font-family: Courier, 'Courier New', monospace;
    background: linear-gradient(180deg, #363636, #444);
    padding: 1px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 1rem;
}

p.time,
p.time time {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:lighter;
    letter-spacing: initial;
    color: #cdf;
    display: inline;
    background: transparent;
    font-size: 0.5rem;
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 0.2rem;
}

footer {
    font-size: 0.9rem;
    text-align: center;
    background: transparent;
    padding-bottom: 0.5rem;
    border: 0 solid #ff0000;
    outline: 0 solid #00ff00;
    border-radius: 1rem;
    box-shadow: 0 0 0 0px #3333ff;
    margin: 0;
}

footer p>a.beta {
    display: none;
}

footer p:hover>a.beta {
    display: inline;
    text-decoration: none;
}

img {
    max-width:100%;
    height:auto;
    border-radius: 0.25rem;
  }

img.sm {
    max-width:30%;
    height:auto;
}

img.sm:hover {
    max-width:100%;
    height:auto;
}