html {
    background: #181825;
    padding: 1rem;
    padding-bottom: 0rem;
}

html.scl-sm {
    scroll-behavior: smooth;
}

body {
    font-size: 80%;
    font-family: Courier, 'Courier New', monospace;
    color: #cdf;
    letter-spacing: 0.02rem;
    background: #181825;
    margin: auto;
    max-width: fit-content;
}

article {
    max-width: 56rem;
    background: #181825;
    padding: 0.8rem;
    border-radius: 1rem;
    margin: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    outline: 1px solid #cdf;
}

header {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
    background: transparent;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

header a {
    font-size: 400%;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #cdf;
    text-align: center;
    font-weight: 100;
    text-decoration: none;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

header a:hover {
    outline: #FFF solid 1px;
}

header a:active {
    color: unset;
    outline: #cdf solid 1px;
}

nav {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    border-radius: 1rem;
    margin-top: 0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: fit-content;
    margin: auto;
}

nav a {

    color: #ec6;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.3rem;
    margin: 0.1rem;
}

nav a:hover {
    color: #fff;
    background: #666;
    border: none;
    border-radius: 1rem;
    outline: solid #666;
}

nav a:active {
    background: unset;
}



hr {
    border: 1px solid #334;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
}


h1,
h2 {
    color: #cc66cc;
    color: #eee;
    margin-left: 1rem;
    margin-right: 1rem;
}

h2.cent {
    text-align: center;
}

h3 {
    color: #0c0;
    color: #eee;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

h3.cent {
    text-align: center;
}

h4 {
    color: #090;
    color: #eee;
    margin-left: 2rem;
    margin-right: 1rem;
}

h5 {
    color: #eee;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

p.cent {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
}

p.etime {
    font-family: Helvetica, Arial, sans-serif;
    color: #cdf;
    background: transparent;
    font-weight: lighter;
    font-size: 0.6rem;
    line-height: 0;
    display: block;
    text-align: right;
    margin: 0;
}

a {
    color: #66f;
    text-decoration: none;
}

p a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

p a.more_btm:link,
p a.more_btm:visited {
    font-size: 0.6rem;
    text-decoration: none;
    color: #cdf;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: 1px solid #cdf;
    margin-left: 1rem;
}

p a.more_btm:hover {
    color: #181825;
    background-color: #cdf;
}

p a:link,
li a:link {
    color: #66f;
}

a:hover,
ul li a:hover,
ol li a:hover {
    color: #fff;
}

a:active,
p a:active,
li a:active a:active,
ul li a:active,
ol li a:active {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin-left: 1.5rem;
    margin-right: 1rem;
    display: block;
    overflow-x: auto;
}

table th,
table td {
    padding: 0.3rem 0.8rem;
    border: 1px solid #ccc;
}

caption {
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1px;
    caption-side: top;
}

ul,
ol {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    margin-left: 1.5rem;
}

code {
    display: inline;
    overflow-x: auto;
    color: #80ff80;
    font-family: Courier, 'Courier New', monospace;
}

p code {
    display: inline;
    padding: 0.2rem;
    border: 1px dashed #0eb7fa;
    border-radius: 0.5rem;
}

pre.msg {
    font-family: Courier, 'Courier New', monospace;
    color: #9ff;
    text-shadow: 0 0 1px #fff, 0 0 2px #000, 0 0 3px #000;
    text-align: left;
    white-space: pre-wrap;
    margin: 0 auto;
    max-width: 48ch;
}

pre code {
    display: block;
    padding: 1rem;
    border: 1px dashed #0eb7fa;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

pre code.banner {
    border: none;
}

blockquote {
    color: #f18a65;
    font-style: italic;
    box-sizing: border-box;
    padding-left: 1.7rem;
    border-left: 0.25rem solid orange;
    margin-left: 0;
    margin-bottom: 1.7rem;
}

figure {
    border: 3px solid #334;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    border-radius: 9px;
    text-align: center;
}

figure img {
    display: block;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: fit-content;
    width: fit-content;
    user-select: none;
}

footer {
    font-size: 0.9rem;
    text-align: center;
    background: transparent;
    border: 0 solid #ff0000;
    outline: 0 solid #00ff00;
    border-radius: 1rem;
    padding-top: 3rem;
    box-shadow: 0 0 0 0px #3333ff;
    margin: 0;
}

footer p>a.beta {
    display: none;
}

footer p:hover>a.beta {
    display: inline;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

img.cent {
    display: block;
    margin: 0 auto;
}

img.sm_cent {
    display: block;
    max-width: 20rem;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}